theLanguageEmporium/force-app/main/default/flows/Create_a_Lesson.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Lesson</name>
        <label>Assign Lesson</label>
        <locationX>341</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>varLesson.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowLessonname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLesson.Language_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLesson.Lesson_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowLessonnumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLesson.Completion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completion_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lesson</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Draft</name>
        <choiceText>Draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Development</name>
        <choiceText>In Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Development</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Languages</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language_s__c</picklistField>
        <picklistObject>Lesson__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create a Lesson {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Lesson</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lesson</name>
        <label>Create Lesson</label>
        <locationX>524</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Lesson_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Completion_Status__c</field>
            <value>
                <elementReference>varLesson.Completion_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Developer__c</field>
            <value>
                <elementReference>varLesson.Course_Developer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>varLesson.Course__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language_s__c</field>
            <value>
                <elementReference>varLesson.Language_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lesson_Number__c</field>
            <value>
                <elementReference>varLesson.Lesson_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varLesson.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Lesson__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>664</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lesson_Created</name>
        <label>Lesson Created</label>
        <locationX>661</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Lesson {!varLesson.Name} for {!varLesson.Course__r.Name} has been created! Good jorb!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lesson_Creation</name>
        <label>Lesson Creation</label>
        <locationX>176</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Lesson</targetReference>
        </connector>
        <fields>
            <name>FlowLessonname</name>
            <dataType>String</dataType>
            <fieldText>Lesson Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FlowLessonnumber</name>
            <dataType>Number</dataType>
            <fieldText>Lesson Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Course</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Course__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Course</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lesson__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varLesson.Course__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Lesson_Developer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lesson__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lesson Developer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Course_Developer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varLesson.Course_Developer__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Completion_Status</name>
            <choiceReferences>Draft</choiceReferences>
            <choiceReferences>In_Development</choiceReferences>
            <choiceReferences>Completed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Completion Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Language</name>
            <choiceReferences>Languages</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lesson_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varLesson</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lesson__c</objectType>
    </variables>
</Flow>
