theLanguageEmporium/force-app/main/default/flows/Fill_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_to_Course</name>
        <label>Assign to Course</label>
        <locationX>334</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Dev_Team_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDevTeamMembers.Team_Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dev_Team_Member_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDevTeamMembers.Dev_Team_Member_1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dev_Team_Member_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDevTeamMembers.Dev_Team_Member_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dev_Team_Member_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDevTeamMembers.Dev_Team_Member_3__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Fill the Team Members section on New/Updated Courses according to the Dev Team Records.</description>
    <interviewLabel>Fill Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fill Team Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dev_Team_Members</name>
        <label>Get Dev Team Members</label>
        <locationX>113</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Development_Team__c</elementReference>
            </value>
        </filters>
        <object>Development_Team__c</object>
        <outputReference>varDevTeamMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Team_Lead__c</queriedFields>
        <queriedFields>Dev_Team_Member_1__c</queriedFields>
        <queriedFields>Dev_Team_Member_2__c</queriedFields>
        <queriedFields>Dev_Team_Member_3__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Dev_Team_Members</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Development_Team__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Course__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDevTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Development_Team__c</objectType>
    </variables>
</Flow>
